.banner{
    width: 100%;
    margin: 0;
    background-color:rgb(241, 226, 229);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-content{
    width: 600px;
    
    
}
.banner-box{
    width: 1200px;
    height: 500px;
    display: flex;
    gap: 200px;
}
.banner-title{
    font-size: 60px;
    font-weight: 1000;
}
.banner-discription{
    font-size: 20px;
    color:rgb(120, 120, 250);
}
.btn{
    padding: 15px 30px;
    color: white;
    background-color: rgb(247, 28, 65);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 10px;
}
.banner-img{
    width: 350px;
    height: 500px;
}
/* our featured flowers section */
.flower-content{
    height: 100px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;

}
.flower-title{
    font-size: 35px;
    font-weight: 700;
}
.flower-image{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    gap: 70px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.flower-img-rose{
    padding-top: 40px;
    padding-left: 25px;
    height:360px ;
    width: 300px;
}
.rose,.lotus,.white-rose{
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}
.flower{
    height: 400px;
    width: 350px;

}
.flower-img-lotus{
    padding-top: 50px;
    padding-left: 20px;
    height: 350px;
}
.flower-img-white-rose{
    height: 400px;
    padding-left: 30px;
    
}
.rose{
    background-color: rgb(233, 185, 212);
}
.lotus{
    background-color: rgb(207, 229, 229);
}
.white-rose{
    background-color: antiquewhite;
}
.flower-box{
    text-align: center;
}
.flower-name{ 
    font-size: 25px;
}
/* icon section */
.box-content{
    height: 300px;
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(238, 236, 234);
    align-items: center;
    justify-content: space-around;
    margin-bottom: 110px;
}
.box-item{
    align-items: center;
    justify-content: center;
}
.item{
    padding-left: 100px;
}
.item2{
    padding-left: 20px;
}
.icon-description{
    font-size: 20px;
    font-weight: 400;
    color: rgb(107, 96, 86);
}
/* hot deal section */
.hot-deal{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(245, 231, 234);
    margin-bottom: 100px;

}
.hot-content{
    width: 1200px;
    height: 500px;
    display: flex;
    gap: 500px;
    padding: 110px;
}
 .deal-content{ 
    text-align: center;
    margin-top: 60px;
    
    
}
.deal-img{
    height: 400px;
    width: 330px;
}
.hot-deal-text{
    color: rgb(235, 11, 11);
}
/* instagram section */

/* four flower section */

.four-flowers{
    margin-top: 60px;
     gap: 20px; 
}
.flower-style{
    height: 340px;
    width: 300px;
}
/* background image section */
.image-content{
    max-width: 1240px;
    height: 300px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    padding-top: 100px;
    background-image: url("./Flower Asset/Rectangle 9.png");
    background-size: cover;
    margin-bottom: 100px;
}
.mail-box{ 
    width: 600px;
    height: 52px;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 15px;
    padding-left: 30px;
}
/* footer section */

.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(36, 33, 33);
    text-align: center;
    padding-top: 125px;
    margin-top: 100px;
}
.foot-title{
    font-size: 45px;
    font-weight: 700;
}
.foot{
    color: rgb(238, 95, 95);
}
.foot-text{
    color: rgb(224, 179, 179);
}
.foot-desciption{
    color: rgb(121, 125, 128);
}
/* my section */
.rose-flower{
    margin-top: 100px;
    max-width: 1250px;
    height: 500px;
    margin: 0 auto;
   
}
.rose-section{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    gap: 150px;
}
.rose-description{
    margin-top: 0;
    padding-bottom: 10px;
}